@font-face {
  font-family: "iconfont"; /* Project id 4266741 */
  src: url('//at.alicdn.com/t/c/font_4266741_c3k7v0piq4u.woff2?t=1695610713326') format('woff2'),
       url('//at.alicdn.com/t/c/font_4266741_c3k7v0piq4u.woff?t=1695610713326') format('woff'),
       url('//at.alicdn.com/t/c/font_4266741_c3k7v0piq4u.ttf?t=1695610713326') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruanjian:before {
  content: "\e654";
}

.icon-pachong:before {
  content: "\e618";
}

.icon-Python:before {
  content: "\e891";
}

.icon-a-xingzhuang854:before {
  content: "\e6f8";
}

.icon-golang:before {
  content: "\e84f";
}

